body {
    margin: 0;
    font-family: "Helvetica";
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;
}
.main {
  display: inline-block;
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  height: 2110px;
  align-items: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}
header img {
  height: 50px;
  padding-left: 10px;
}
nav {
  text-align: right;
  flex-grow: 1;
  display: block;
}
a {
  color: seashell;
  text-decoration: underline;
  padding: 0 10px 0 10px;
}
#mission {
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  padding-top: 70px;
  width: 1200px;
}
#mission .content {
  display: block;
  margin: auto;
  background-color: black;
  width: 100%;
  height: 103px;
}
h3 {
  margin: 0;
  padding: 10px;
  height: 30px;
  width: 260px;
}
h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
  height: 38px;
}
h4 {
  margin: 0;
  padding: 10px;
  text-align: center;
  height: 25px;
}
h5 {
  display: block;
  font-weight: bold;
}
#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
  margin-top: 0;
  margin-right: 100px;
  margin-bottom: 0;
  margin-left: 100px;
}
.flex-container .items {
  height: 530px;
  width: 1000px;
}
.item img {
  height: 200px;
  margin: 10px;
  display: block;
}
.item {
  padding: 5px;
}
.item span {
  display: block;
  padding: 5px;
  font-weight: bold
  text-align:center;
}
#locations {
  height: 500px;
  padding-top: 70px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}
#locations .flex-container {
  margin: auto;
  width: 1100px;
}
.flex-container.locations {
  flex-wrap: wrap;
  display: flex;
  height: 287px;
  justify-content: center;
  margin: 0 50px 0 50px;
  padding-top: 5px;
  text-align: center;
  width: 1100px;
}
.location {
  display: flex;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  opacity: 1;
  flex-basis: 280px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#contact {
  display: block;
  height: 200px;
  width: 100%;
  text-align: center;
}
footer {
  text-align: left;
  padding-left: 20px;
}
